{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "clipboards"
  },
  "host": "xclipboard.tech",
  "basePath": "/api",
  "tags": [
    {
      "name": "clipboards",
      "description": "Operation about clipboards"
    },
    {
      "name": "pictograms",
      "description": "Operation about pictograms"
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/vnd.clipboards.v1+json",
    "application/vnd.clipboards.v1+xml"
  ],
  "paths": {
    "/clipboards": {
      "get": {
        "tags": [
          "clipboards"
        ],
        "summary": "Find clipboards",
        "description": "Get clipboards collection",
        "operationId": "getClipboards",
        "produces": [
          "application/vnd.clipboards.v1+json"
        ],
        "parameters": [
          {
            "name": "pictogram",
            "in": "query",
            "description": "pictogram",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClipboardsCollectionResponse"
            }
          }
        },
        "security": [
          {
            "oauth2token": [
              "clipboards:get"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "clipboards"
        ],
        "summary": "Create clipboard",
        "description": "Create clipboard",
        "operationId": "createClipboard",
        "consumes": [
          "application/vnd.clipboards.v1+json"
        ],
        "produces": [
          "application/vnd.clipboards.v1+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "clipboardRequest",
            "description": "Clipboard object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClipboardRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClipboardResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "The request you made is not acceptable"
          },
          "422": {
            "description": "Invalid parameter value"
          }
        },
        "security": [
          {
            "oauth2token": [
              "clipboards:create"
            ]
          }
        ]
      }
    },
    "/clipboards/{id}": {
      "get": {
        "tags": [
          "clipboards"
        ],
        "summary": "Get clipboard",
        "description": "Get clipboard",
        "operationId": "getClipboard",
        "produces": [
          "application/vnd.clipboards.v1+json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clipboard id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClipboardResponse"
            }
          },
          "404": {
            "description": "Clipboard not found"
          }
        },
        "security": [
          {
            "oauth2token": [
              "clipboards:get"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "clipboards"
        ],
        "summary": "Delete clipboard",
        "description": "Delete clipboard",
        "operationId": "deleteClipboard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clipboard id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "oauth2token": [
              "clipboards:delete"
            ]
          }
        ]
      }
    },
    "/pictograms": {
      "get": {
        "tags": [
          "pictograms"
        ],
        "summary": "Find pictograms",
        "description": "Get pictograms collection",
        "operationId": "getPictograms",
        "produces": [
          "application/vnd.clipboards.v1+json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "category",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PictogramsCollectionResponse"
            }
          }
        },
        "security": [
          {
            "oauth2token": [
              "pictograms:get"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "oauth2token": {
      "type": "oauth2",
      "authorizationUrl": "https://clipboard.tech/oauth/authorization",
      "flow": "implicit",
      "scopes": {
        "public": "public API scope",
        "clipboards:delete": "permission to delete clipboards",
        "clipboards:get": "permission to get clipboards",
        "clipboards:create": "permission to create clipboards",
        "pictograms:get": "permission to get pictograms"
      }
    }
  },
  "definitions": {
    "ClipboardResponse": {
      "required": [
        "createdAt",
        "id",
        "pictogram",
        "text"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Clipboard id"
        },
        "text": {
          "type": "string",
          "description": "Clipboard text"
        },
        "pictogram": {
          "type": "string",
          "description": "Clipboard pictogram"
        },
        "createdAt": {
          "type": "string",
          "description": "Clipboard createdAt"
        }
      },
      "description": "Clipboard response"
    },
    "ClipboardRequest": {
      "required": [
        "pictogram",
        "text"
      ],
      "properties": {
        "text": {
          "type": "string",
          "description": "Clipboard text"
        },
        "pictogram": {
          "type": "string",
          "description": "Clipboard pictogram"
        }
      },
      "description": "Clipboard request"
    },
    "ClipboardsCollectionResponse": {
      "required": [
        "clipboards",
        "total"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "description": "Total clipboards"
        },
        "clipboards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClipboardResponse"
          }
        }
      },
      "description": "Clipboards collection"
    },
    "PictogramResponse": {
      "required": [
        "category",
        "id",
        "url"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Pictogram id"
        },
        "category": {
          "type": "string",
          "description": "Pictogram category"
        },
        "url": {
          "type": "string",
          "description": "Pictogram url"
        }
      },
      "description": "Pictogram response"
    },
    "PictogramsCollectionResponse": {
      "required": [
        "pictograms",
        "total"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "description": "Total clipboards"
        },
        "pictograms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PictogramResponse"
          }
        }
      },
      "description": "Pictograms collection"
    }
  }
}